matrix:
  include:
    - os: osx
      osx_image: xcode9.4
      language: node_js
      node_js: "8"

branches:
  only:
    - master
    - develop

cache:
  directories:
    - $HOME/Library/Caches/Homebrew
    - node_modules
    - /usr/local/Homebrew

before_cache:
  - brew cleanup
  - find /usr/local/Homebrew \! -regex ".+\.git.+" -delete

install:
  - yarn
  - brew install qt
  - brew link --force qt
  - brew install qpm
  - ./patches/patch.sh

before_script:
  - yarn build
  - cd native && qpm install
  - mkdir -p "$TRAVIS_BUILD_DIR-build"
  - qmake -v
  - qmake -o "$TRAVIS_BUILD_DIR-build" -r -Wall -Wlogic -Wparser -spec macx-clang CONFIG+=release \
    CONFIG+=force_debug_info CONFIG+=separate_debug_info CONFIG+=qtquickcompiler PRODUCTION=true "$TRAVIS_BUILD_DIR/native"

script:
  - make -C "$TRAVIS_BUILD_DIR-build" -j2 all
  - make -C "$TRAVIS_BUILD_DIR-build" -j2 check
  - macdeployqt "$TRAVIS_BUILD_DIR-build/Ben.app" -dmg -qmldir="$TRAVIS_BUILD_DIR/native/dist"
  - yarn sentry-cli upload-dif -t dsym "$TRAVIS_BUILD_DIR-build"

before_deploy:
  # Set up git user name and tag this commit
  - git config --local user.name "Daniel Nguyen"
  - git config --local user.email "long@podzim.co"
  - export TRAVIS_TAG="latest-dev"
  - git tag $TRAVIS_TAG

deploy:
  provider: releases
  api_key: $RELEASES_API_KEY
  file: "$TRAVIS_BUILD_DIR-build/Ben.dmg"
  skip_cleanup: true
  name: "Latest Development Build"
  overwrite: true
  prerelease: true
  on:
    branch: develop
